<a href="https://colab.research.google.com/github/tjain858/Google-play-EDA/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

##**INTRODUCTION :**
This project is all about Exploratory Data Analysis of play store apps data through which we are going to get insight of data and discover key components,factors responsible for the engagement and success of an application.This analysed data could be used by investors,developers to develop engaging and profitable apps .


## **The whole project consists of following steps**

*  Importing the data
*  Exploring the data
*  Cleaning the data
*  Merging the data
*  Analysis and Visualization
*  Conclusion

**Imports**: Importing the required libraries

In [ ]:
#imports Some importance libries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import ast
%matplotlib inline

# Importing the data

In [ ]:
# mounting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Loading the dataset as a pandas data frame.
playstore_df = pd.read_csv('/content/drive/MyDrive/CAPSTON PROJECT EDA/Google-play-EDA/Play Store Data.csv')
review_df=pd.read_csv('/content/drive/MyDrive/CAPSTON PROJECT EDA/Google-play-EDA/User Reviews.csv')

##**Exploring the data**  : In this section we will explore the data and take a glance of the data

**Exploring 1st data frame (Playstore_df)**

In [ ]:
# look at shape of dataframe
playstore_df.shape

(10841, 13)

It has 10841 rows and 13 columns

In [ ]:
# look at the first first few records in the apps dataframe
playstore_df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [ ]:
# last few records
playstore_df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
# look at the info of the dataframe
playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

By looking at the info of (playstore_df) we found some of the values are null and most columns datatype is object

#**Description of App Dataset columns**

1.    App : The name of the app
2.    Category : The category of the app
3.    Rating : The rating of the app in the Play Store
4.    Reviews : The number of reviews of the app
5.    Size : The size of the app
6.    Install : The number of installs of the app
7.    Type : The type of the app (Free/Paid)
8.    price: The price of the app (0 if it is Free)
9.    Content Rating :The appropiate target audience of the app
10.   Genres: The genre of the app
11.   Last Updated : The date when the app was last updated
12.   Current Ver : The current version of the app
13.   Android Ver : The minimum Android version required to run the app

**Let us explore 2nd dataframe (review_df)**

In [ ]:
# find shape of dataframe 
review_df.shape

(64295, 5)

It has 64295 rows and 5 columns

In [ ]:
review_df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [ ]:
review_df.tail()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [ ]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

By looking at review dataframe info we found it has many null values and only 3 columns namely(Sentiment,Sentiment_polarity,Sentiment_subjectivity) having same
number of non null values

# **Description of reviews dataframe columns**
App : The name of the app

---


Transleted_Review: Given review by users

---


Sentiment: The sentiment of user regarding the app

---


Sentiment_Polarity : numerical rating of sentiment[-1 to 1]

---
Sentiment_subjectivity :personal opinion, emotion or judgment[0 to 1]

# **Data Cleaning and data Preparation**:In this section we will remove null values,redundant and unnecessary data which could hinder the data analysis process and prepare data ready for analysing.

**cleaning 1st data frame(playstore_df)**

In [ ]:
# finding the duplicates in playstore_df
playstore_df.duplicated(keep='last').sum()

483

In [ ]:
#there are 483 duplicate rows so let us remove them
playstore_df.drop_duplicates(keep='last',inplace=True)

In [ ]:
# let us us see if there are more duplicates
playstore_df.duplicated(subset=['App','Rating']).sum()

# 680 rows having same app and rating

680

In [ ]:
# now let us remove these duplicates
playstore_df.drop_duplicates(subset=['App','Rating'],keep='last',inplace=True)

In [ ]:
# we have seen that "Rating" column consists of huge amount of null values let us check it further
playstore_df[playstore_df['Rating'].isna()].count()

App               1464
Category          1464
Rating               0
Reviews           1464
Size              1464
Installs          1464
Type              1463
Price             1464
Content Rating    1464
Genres            1464
Last Updated      1464
Current Ver       1460
Android Ver       1464
dtype: int64

total 1464 rows having null 'Rating'

In [ ]:
# let us see it
playstore_df[playstore_df['Rating'].isna()].head(50)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
113,Wrinkles and rejuvenation,BEAUTY,NaN,182,5.7M,"100,000+",Free,0,Everyone 10+,Beauty,"September 20, 2017",8.0,3.0 and up
123,Manicure - nail design,BEAUTY,NaN,119,3.7M,"50,000+",Free,0,Everyone,Beauty,"July 23, 2018",1.3,4.1 and up
126,Skin Care and Natural Beauty,BEAUTY,NaN,654,7.4M,"100,000+",Free,0,Teen,Beauty,"July 17, 2018",1.15,4.1 and up
129,"Secrets of beauty, youth and health",BEAUTY,NaN,77,2.9M,"10,000+",Free,0,Mature 17+,Beauty,"August 8, 2017",2.0,2.3 and up
130,Recipes and tips for losing weight,BEAUTY,NaN,35,3.1M,"10,000+",Free,0,Everyone 10+,Beauty,"December 11, 2017",2.0,3.0 and up
134,"Lady adviser (beauty, health)",BEAUTY,NaN,30,9.9M,"10,000+",Free,0,Mature 17+,Beauty,"January 24, 2018",3.0,3.0 and up
163,Anonymous caller detection,BOOKS_AND_REFERENCE,NaN,161,2.7M,"10,000+",Free,0,Everyone,Books & Reference,"July 13, 2018",1.0,2.3 and up
180,SH-02J Owner's Manual (Android 8.0),BOOKS_AND_REFERENCE,NaN,2,7.2M,"50,000+",Free,0,Everyone,Books & Reference,"June 15, 2018",3.0,6.0 and up
185,URBANO V 02 instruction manual,BOOKS_AND_REFERENCE,NaN,114,7.3M,"100,000+",Free,0,Everyone,Books & Reference,"August 7, 2015",1.1,5.1 and up
227,Y! Mobile menu,BUSINESS,NaN,9,1.2M,"100,000+",Free,0,Everyone,Business,"April 9, 2018",1.0.5,6.0 and up
321,【Ranobbe complete free】 Novelba - Free app tha...,COMICS,NaN,1330,22M,"50,000+",Free,0,Everyone,Comics,"July 3, 2018",6.1.1,4.2 and up
478,Truth or Dare Pro,DATING,NaN,0,20M,50+,Paid,$1.49,Teen,Dating,"September 1, 2017",1.0,4.0 and up
479,"Private Dating, Hide App- Blue for PrivacyHider",DATING,NaN,0,18k,100+,Paid,$2.99,Everyone,Dating,"July 25, 2017",1.0.1,4.0 and up
480,Ad Blocker for SayHi,DATING,NaN,4,1.2M,100+,Paid,$3.99,Teen,Dating,"August 2, 2018",1.2,4.0.3 and up
617,Meet With Strangers: Video Chat & Dating,DATING,NaN,2,3.7M,500+,Free,0,Mature 17+,Dating,"July 16, 2018",1.,4.0 and up
620,Ost. Zombies Cast - New Music and Lyrics,DATING,NaN,1,4.6M,100+,Free,0,Teen,Dating,"July 20, 2018",1.0,4.0.3 and up
621,Dating White Girls,DATING,NaN,0,3.6M,50+,Free,0,Mature 17+,Dating,"July 20, 2018",1.0,4.0 and up
623,Geeks Dating,DATING,NaN,0,13M,50+,Free,0,Mature 17+,Dating,"July 10, 2018",1.0,4.1 and up
624,Live chat - free video chat,DATING,NaN,1,8.7M,500+,Free,0,Mature 17+,Dating,"July 23, 2018",3.52,4.0.3 and up
626,Fishing Brain & Boating Maps Marine,DATING,NaN,3,6.9M,500+,Free,0,Everyone,Dating,"July 23, 2018",1.0,4.0.3 and up
627,CAM5678 Video Chat,DATING,NaN,0,39M,500+,Free,0,Mature 17+,Dating,"July 13, 2018",5.5.8,4.0.3 and up
628,Video chat live advices,DATING,NaN,0,8.0M,100+,Free,0,Everyone,Dating,"July 10, 2018",1.0,3.0 and up
629,chat live chat,DATING,NaN,24,3.9M,"1,000+",Free,0,Mature 17+,Dating,"July 26, 2018",1.0,4.0 and up
630,Pet Lovers Dating,DATING,NaN,0,14M,10+,Free,0,Mature 17+,Dating,"July 9, 2018",1.0,4.1 and up
631,Friend Find: free chat + flirt dating app,DATING,NaN,23,11M,100+,Free,0,Mature 17+,Dating,"July 31, 2018",1.0,4.4 and up
632,Latin Dating,DATING,NaN,0,13M,10+,Free,0,Mature 17+,Dating,"July 9, 2018",1.0,4.1 and up
635,Wifi Mingle,DATING,NaN,0,10.0M,10+,Free,0,Everyone,Dating,"July 27, 2018",1.3,4.4 and up
637,Soy Luna - Top Music And Lyrics,DATING,NaN,1,5.0M,100+,Free,0,Teen,Dating,"July 24, 2018",1.0,4.0.3 and up
638,When Will You Get Married,DATING,NaN,2,3.6M,10+,Free,0,Everyone,Dating,"July 14, 2018",1.0,4.0.3 and up
639,HOW TO ASK A GIRL OUT,DATING,NaN,0,19M,10+,Free,0,Everyone,Dating,"July 16, 2018",1.0,4.0.3 and up
641,The DJ - Match with People,DATING,NaN,0,9.8M,50+,Free,0,Mature 17+,Dating,"August 2, 2018",1.2,4.1 and up
642,Toronto Dating,DATING,NaN,0,14M,100+,Free,0,Mature 17+,Dating,"July 12, 2018",1.0,4.1 and up
643,i miss you quotes and photos,DATING,NaN,0,5.0M,100+,Free,0,Everyone,Dating,"July 22, 2018",1.0.7,4.0 and up
644,JoJo Siwa Top Hits Music,DATING,NaN,0,4.9M,10+,Free,0,Teen,Dating,"July 26, 2018",1.0,4.0.3 and up
647,Chat Click - Dating Search,DATING,NaN,4,3.8M,500+,Free,0,Mature 17+,Dating,"July 11, 2018",1.0,3.0 and up
648,Iraq love chat,DATING,NaN,14,5.0M,50+,Free,0,Teen,Dating,"August 3, 2018",8.2,4.0.3 and up
649,Healthy Relationships Guide,DATING,NaN,0,8.2M,1+,Free,0,Everyone,Dating,"July 31, 2018",2.0,4.0.3 and up
650,following,DATING,NaN,1,21M,10+,Free,0,Mature 17+,Dating,"July 24, 2018",1.0.3,4.2 and up
651,Gods by Night,DATING,NaN,104,12M,"1,000+",Free,0,Mature 17+,Dating,"July 22, 2018",3.5.4.2.3,4.1 and up
652,PlusOne,DATING,NaN,0,10M,1+,Free,0,Mature 17+,Dating,"July 17, 2018",1.1.1,4.2 and up
653,Love Calendar - Couple Sharing Calendar & Coup...,DATING,NaN,14,3.3M,50+,Free,0,Everyone,Dating,"July 30, 2018",1.6,4.1 and up
658,Soul Mate,DATING,NaN,0,4.4M,10+,Free,0,Mature 17+,Dating,"July 19, 2018",4.5.0,4.0.3 and up
659,Diamond Engagement Rings,DATING,NaN,0,3.5M,5+,Free,0,Everyone,Dating,"July 12, 2018",6.1,4.0 and up
660,Dating Tips For Men,DATING,NaN,0,7.8M,10+,Free,0,Everyone,Dating,"July 9, 2018",3.0,4.0.3 and up
666,Random Video Chat,DATING,NaN,3,16M,"1,000+",Free,0,Mature 17+,Dating,"July 15, 2018",4.20,4.0.3 and up
669,Find Lover,DATING,NaN,21,4.7M,"1,000+",Free,0,Mature 17+,Dating,"July 27, 2018",1.0.2,4.0.3 and up
683,Random Video Chat App With Strangers,DATING,NaN,3,4.8M,"1,000+",Free,0,Mature 17+,Dating,"July 17, 2018",1.,4.0 and up
698,"Chat Mexico: meet people, flirt and friendship",DATING,NaN,8,9.3M,"5,000+",Free,0,Mature 17+,Dating,"July 2, 2018",3.7,4.0.3 and up
704,Ai La Trieu Phu - ALTP Free,EDUCATION,NaN,776,24M,"100,000+",Free,0,Everyone,Education,"July 23, 2018",1.5,4.0 and up
1013,VAN NIAN 2018 - Vietnamese Calendar,EVENTS,NaN,37,16M,"10,000+",Free,0,Everyone,Events,"November 27, 2017",1.0,4.0 and up

In rows where rating is null reviews and installs are also less.

In [ ]:
# let us remove the rows where rating is null
playstore_df.drop(playstore_df[playstore_df['Rating'].isna()].index, inplace=True)

In [ ]:
# now let us see new data shape
playstore_df.shape

(8214, 13)

Let us remove column which is of no use

In [ ]:
playstore_df['Current Ver'].value_counts()

Varies with device    1014
1.0                    449
1.1                    191
1.2                    125
2.0                    117
                      ...
1.07.59                  1
16.0.10325.20024         1
12.8.2-pi                1
3.4.4.4-GP               1
0.3.4                    1
Name: Current Ver, Length: 2630, dtype: int64

In [ ]:
# Removing column 'Android Ver' and 'Current Ver'
playstore_df.drop(['Android Ver','Current Ver'],axis=1,inplace=True)

In [ ]:
playstore_df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018"
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017"

Now lets see if there are any further null values

In [ ]:
playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8214 entries, 0 to 10840
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8214 non-null   object
 1   Category        8214 non-null   object
 2   Rating          8214 non-null   float64
 3   Reviews         8214 non-null   object
 4   Size            8214 non-null   object
 5   Installs        8214 non-null   object
 6   Type            8214 non-null   object
 7   Price           8214 non-null   object
 8   Content Rating  8213 non-null   object
 9   Genres          8214 non-null   object
 10  Last Updated    8214 non-null   object
dtypes: float64(1), object(10)
memory usage: 770.1+ KB

Only 'Content Rating' has 1 null value.
All further null values are removed

In [ ]:
# let us see this null values
# see rows having 'Content Rating' null
playstore_df[playstore_df['Content Rating'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19

In [ ]:
# The above row is having mismatch values so should be removed
# lets remove it
playstore_df.drop(playstore_df[playstore_df['Content Rating'].isna()].index, inplace=True)

Now let us convert column values to analyzable format

In [ ]:
# column 'Reviews' is object type lets convert to int
playstore_df['Reviews']=playstore_df['Reviews'].astype(int)

In [ ]:
# column 'Last Updated' is object type lets convert to date type
playstore_df['Last Updated']=playstore_df['Last Updated'].astype('datetime64[s]')

In [ ]:
# column size
playstore_df['Size'].value_counts().tail(30)

585k    1
982k    1
782k    1
459k    1
61k     1
412k    1
283k    1
655k    1
714k    1
93k     1
872k    1
121k    1
322k    1
976k    1
206k    1
954k    1
444k    1
717k    1
210k    1
609k    1
308k    1
306k    1
175k    1
350k    1
383k    1
454k    1
812k    1
442k    1
842k    1
619k    1
Name: Size, dtype: int64

In [ ]:
# lets remove M and K and convert all data to mb
playstore_df['Size']=playstore_df['Size'].apply(lambda x:float(str(x).replace('M','')) if 'M' in str(x) else x )
playstore_df['Size']=playstore_df['Size'].apply(lambda x:float(str(x).replace('k',''))/1000 if 'k' in str(x) else x )

In [ ]:
playstore_df['Size'][playstore_df['Size']=='Varies with device'].count()

1171

In [ ]:
playstore_df['Size'].value_counts()

Varies with device    1171
14.0                   149
12.0                   147
11.0                   144
13.0                   143
                      ...
0.454                    1
0.812                    1
0.442                    1
0.842                    1
0.619                    1
Name: Size, Length: 413, dtype: int64

In [ ]:

playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8213 entries, 0 to 10840
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8213 non-null   object
 1   Category        8213 non-null   object
 2   Rating          8213 non-null   float64
 3   Reviews         8213 non-null   int64
 4   Size            8213 non-null   object
 5   Installs        8213 non-null   object
 6   Type            8213 non-null   object
 7   Price           8213 non-null   object
 8   Content Rating  8213 non-null   object
 9   Genres          8213 non-null   object
 10  Last Updated    8213 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 770.0+ KB

updated dataframe has 8214 rows and 11 columns